.blognews{
    padding: 50px 60px;
}
.blognews .container .row .col .card .news-title a{
    background: #ec4646;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60%;
}
.blognews .container .row .col .card .news-image img:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.blognews .container .more-news{
    width: 100%;
    text-align: center;
}
.blognews .container .more-news button{
    height: 40px;
    width: 120px;
    color: #ec4646;
    border: 1px solid #ec4646;
    outline: none;
    background:white;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 4px;
}
.blognews .container .more-news button:hover{
    background: #ec4646;
    color: #fff;
}